@font-face {
  font-family: "San Francisco Pro Display Regular";
  src: url("./../fonts/SFProDisplay-Regular.eot");
  src: url("./../fonts/SFProDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("./../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Bold";
  src: url("./../fonts/SFProDisplay-Bold.eot");
  src: url("./../fonts/SFProDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/SFProDisplay-Bold.woff") format("woff"),
    url("./../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Semibold";
  src: url("./../fonts/SFProDisplay-Semibold.eot");
  src: url("./../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("./../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
