.btn {
  width: 335px;
  padding: 16px 0;
  background-color: var(--main-blue);
  border-radius: 50px;
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--font-semibold);
  text-align: center;
  transition: background-color 0.2s ease-in;
  &__top {
    position: fixed;
    right: -50px;
    bottom: 275px;
    width: 44px;
    height: 44px;
    border: 1px solid var(--main-blue);
    border-radius: 8px;
    background-image: url(./../img/icon/arrow-top.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--white);
    transition: 0.2s ease-in;
    &--active {
      right: 73px;
    }
  }
  &:hover {
    background-color: var(--hover);
  }
  &:active {
    background-color: var(--active);
  }
}
