.title {
  font-size: 50px;
  color: var(--white);
  font-family: var(--font-accent);
  & span {
    color: var(--light-blue);
    text-decoration: underline;
  }
}
.title2 {
  font-size: 40px;
  color: var(--white);
  font-family: var(--font-accent);
}
